.component-display {
    background: black;
    color: white;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
}
.component-display > div {
    font-size: 3em;
    font-weight: bold;
}